<section class="mat-typography">
    <h1 class="mat-display-2">User subjects</h1>
  </section>
  <span class="flex-spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end end">
      <a [routerLink]="['/admin/user/subjects/', userEmail, 'create']"><mat-icon>add</mat-icon></a>
    </div>
  <br/>
  <mat-table [dataSource]="userSubjects" class="mat-elevation-z8" class="container">
      <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
    
      
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br>
  
  