<mat-toolbar color="primary" class="example-toolbar" >
  <button mat-icon-button (click)="toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">{{title}}</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <a routerLink="">
            <mat-list-item class="parent drawer">
              <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
              <mat-icon mat-list-icon>home</mat-icon>
          </mat-list-item>
      </a>
      <div *ngIf="!loggedIn">
          <a *ngFor="let link of guestLinks" routerLink="{{link.path}}">
              <mat-list-item class="parent drawer">
                <span class="full-width" *ngIf="isExpanded || isShowing">{{link.title}}</span>
                <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
              </mat-list-item>
            </a>
      </div>
      <div *ngIf="loggedIn">
          <div *ngIf="role === 1">
              <a *ngFor="let link of userLinks" routerLink="{{link.path}}">
                  <mat-list-item class="parent drawer">
                    <span class="full-width" *ngIf="isExpanded || isShowing">{{link.title}}</span>
                    <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
                </mat-list-item>
              </a>
          </div>
          <div *ngIf="role === 2">
            <a routerLink="admin/user">
                  <mat-list-item class="parent drawer">
                    <span class="full-width" *ngIf="isExpanded || isShowing">User</span>
                    <mat-icon mat-list-icon>account_box</mat-icon>
                </mat-list-item>
            </a>
            <a routerLink="admin/subject">
              <mat-list-item class="parent drawer">
                <span class="full-width" *ngIf="isExpanded || isShowing">Subject</span>
                <mat-icon mat-list-icon>school</mat-icon>
            </mat-list-item>
        </a>
          </div>
          <mat-list-item class="parent drawer" (click)="logout()">
              <span class="full-width" *ngIf="isExpanded || isShowing">Logout</span>
              <mat-icon mat-list-icon>exit_to_app</mat-icon>
          </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
