
<mat-card class="container" >
    <h1 class="label"> EDIT SUBJECT </h1>
    <form (ngSubmit)="onSubmit()" #subjectForm="ngForm" class="form">
    <mat-form-field class="example-full-width">
      <input matInput name="subjectId" value="" type="text" required [(ngModel)]="name" #subjectId="ngModel"/>
       <mat-icon matSuffix>school</mat-icon>
       <mat-error *ngIf="!subjectId.valid && subjectId?.errors.required">
        New name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br/>
    <div style="text-align:center;">
        <button  mat-raised-button color="primary" [disabled]="!subjectForm.valid"  type="submit">Edit</button>
      </div>
  </form>
</mat-card>
